{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Campanula Planner Graph",
    "description": "Custom connector for Microsoft Graph Planner operations required by CampanulaPlannerFlows.",
    "contact": {
      "name": "MartiX",
      "url": "https://martix.dev",
      "email": "info@martix.dev"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1.0/planner/plans": {
      "post": {
        "summary": "Create a Planner plan",
        "description": "Create a Microsoft Planner plan in the specified Microsoft 365 group.",
        "operationId": "CreatePlan",
        "x-ms-summary": "Create Planner Plan",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePlanRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Planner plan created successfully.",
            "schema": {
              "$ref": "#/definitions/PlannerPlan"
            }
          },
          "200": {
            "description": "Planner plan created successfully.",
            "schema": {
              "$ref": "#/definitions/PlannerPlan"
            }
          },
          "default": {
            "description": "Unexpected error response from Microsoft Graph.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": []
          }
        ]
      }
    },
    "/v1.0/planner/plans/{planId}/details": {
      "get": {
        "summary": "Get Planner plan details",
        "description": "Read Microsoft Planner plan details and return the current resource ETag.",
        "operationId": "GetPlanDetails",
        "x-ms-summary": "Get Planner Plan Details",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/PlanId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PlannerPlanDetailsGetResponse"
          },
          "default": {
            "description": "Unexpected error response from Microsoft Graph.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": []
          }
        ]
      },
      "patch": {
        "summary": "Update Planner plan details",
        "description": "Update Microsoft Planner plan category descriptions using a fresh ETag.",
        "operationId": "UpdatePlanDetails",
        "x-ms-summary": "Update Planner Plan Details",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/PlanId"
          },
          {
            "$ref": "#/parameters/IfMatch"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePlanDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PlannerPlanDetailsUpdateResponse"
          },
          "204": {
            "$ref": "#/responses/PlannerPlanDetailsNoContentResponse"
          },
          "default": {
            "description": "Unexpected error response from Microsoft Graph.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": []
          }
        ]
      }
    }
  },
  "definitions": {
    "CreatePlanRequest": {
      "type": "object",
      "required": [
        "container",
        "title"
      ],
      "properties": {
        "container": {
          "$ref": "#/definitions/PlannerPlanContainer"
        },
        "title": {
          "type": "string",
          "description": "Planner plan title.",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        }
      }
    },
    "PlannerPlanContainer": {
      "type": "object",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "description": "Microsoft Graph URL of the target Microsoft 365 group, for example https://graph.microsoft.com/v1.0/groups/{groupId}.",
          "x-ms-summary": "Group URL",
          "x-ms-visibility": "important"
        },
        "containerId": {
          "type": "string",
          "description": "Optional group identifier returned by Microsoft Graph."
        },
        "type": {
          "type": "string",
          "description": "Optional container type returned by Microsoft Graph."
        }
      }
    },
    "PlannerPlan": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Planner plan identifier.",
          "x-ms-summary": "Plan ID"
        },
        "title": {
          "type": "string",
          "description": "Planner plan title."
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp in UTC."
        },
        "container": {
          "$ref": "#/definitions/PlannerPlanContainer"
        }
      }
    },
    "PlannerPlanDetails": {
      "type": "object",
      "properties": {
        "@odata.etag": {
          "type": "string",
          "description": "Planner plan-details resource ETag."
        },
        "id": {
          "type": "string",
          "description": "Planner plan identifier."
        },
        "sharedWithContainer": {
          "type": "boolean",
          "description": "Whether the plan is shared with its container."
        },
        "categoryDescriptions": {
          "$ref": "#/definitions/PlannerCategoryDescriptions"
        }
      }
    },
    "UpdatePlanDetailsRequest": {
      "type": "object",
      "required": [
        "categoryDescriptions"
      ],
      "properties": {
        "categoryDescriptions": {
          "$ref": "#/definitions/PlannerCategoryDescriptions"
        }
      }
    },
    "PlannerCategoryDescriptions": {
      "type": "object",
      "properties": {
        "category1": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category2": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category3": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category4": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category5": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category6": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category7": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category8": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category9": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category10": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category11": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category12": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category13": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category14": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category15": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category16": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category17": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category18": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category19": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category20": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category21": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category22": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category23": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category24": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        },
        "category25": {
          "$ref": "#/definitions/PlannerCategoryDescription"
        }
      }
    },
    "PlannerCategoryDescription": {
      "type": "string",
      "description": "Planner label display name."
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string"
            },
            "message": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "PlanId": {
      "name": "planId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Planner plan identifier.",
      "x-ms-summary": "Plan ID",
      "x-ms-visibility": "important"
    },
    "IfMatch": {
      "name": "If-Match",
      "in": "header",
      "required": true,
      "type": "string",
      "description": "ETag from the immediately preceding plan-details read.",
      "x-ms-summary": "If-Match",
      "x-ms-visibility": "important"
    }
  },
  "responses": {
    "PlannerPlanDetailsGetResponse": {
      "description": "Planner plan details returned successfully.",
      "schema": {
        "$ref": "#/definitions/PlannerPlanDetails"
      }
    },
    "PlannerPlanDetailsUpdateResponse": {
      "description": "Planner plan details updated successfully.",
      "schema": {
        "$ref": "#/definitions/PlannerPlanDetails"
      }
    },
    "PlannerPlanDetailsNoContentResponse": {
      "description": "Planner plan details updated successfully."
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [
    {
      "name": "Planner"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://learn.microsoft.com/en-us/graph/api/resources/plannerplan?view=graph-rest-1.0"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ]
}
